/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d2clogo-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #8753c5;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #8753c5;
}
.header-padding {
  padding-left: 7% !important;
}
.send-wp-btn {
  width: 180px;
  height: 45px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #c696ff26;
  margin-right: 12px;
}
.send-email-btn {
  width: 150px;
  height: 45px;
}
.send-sms-btn {
  width: 140px;
  height: 45px;
}
.call-btn {
  width: 140px;
  height: 45px;
  border-radius: 8px;
  background: #affdd1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  color: #8753c5;
  padding-left: 0.5rem;
}
.btn1 {
  box-shadow: none !important;
}
.call-team-btn {
  color: black !important;
  box-shadow: none !important;
}
/* ************* main css **************** */
.main h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  /* text-align: center; */
  margin-top: 140px;
}
.main h6 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  /* text-align: center; */
  /* padding-left: 416px; */
}

h6 span {
  font-weight: 700;
}
.main-form {
  /* margin-left: 42px; */
}
.form-control {
  width: 480px;
  height: 48px;
  border-radius: 8px;
  background: #f6f6ff;
}
.search-btn {
  width: 180px;
  height: 48px;
  border-radius: 8px;
  color: black;
  background: #affdd1;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
}
.nav-link {
  color: #8753c5;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
}
.nav-item .nav-link.active {
  background-color: #c696ff;
}
.nav-item {
  box-shadow: 0px 2px 4px 0px #999ac526;
  margin-right: 10px;
}
.main-btn {
  display: flex;
  justify-content: center;
}
.social-media-btn {
  width: 46%;
}
/* **************** modal css ********************* */
/* .form-switch {
  padding-left: 0;
}
.form-check {
  padding-left: 0;
} */

.btn-close {
  /* --bs-btn-close-bg: #8753c5; */
}
.form-check-input:checked {
  border-color: #8753c5;
  background-color: #8753c5;
}
.btn-close {
  border: 2px solid #8753c5;
  border-radius: 50%;
}
.modal-title {
  /* margin-top: 30px !important; */
  text-align: center;
}
.box-modal {
  padding: 0px 25px 0px 25px;
}
.modal-content {
  border-radius: 0px;
}
.next-button {
  text-align: end;
  margin-right: 30px;
}
.next-btn {
  width: 180px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #affdd1;
  margin-bottom: 10px;
}
.next-btn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.modal-body .form-control {
  width: 100% !important;
}
.modal2-text {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.form-check-label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: black;
  padding-bottom: 10px;
  padding-right: 10px;
}
.next-modal-button {
  display: flex;
  justify-content: space-around;
}
.back-btn {
  width: 180px;
  height: 48px;
  background: transparent;
  border-radius: 8px;
  border: 2px solid #dde0f1;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.detail-model-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.box {
  width: 100%;
  height: 120px;
  padding: 20px;
  border-radius: 8px;
  background: #f6f6ff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #0e1e2a;
  border: 1px solid #dde0f1;
}
.usd-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 0px;
  margin-top: 4px;
}
.input-file-btn {
  display: none;
}

.custom-button {
  display: inline-block;
  width: 180px;
  height: 36px;
  padding: 8px 14px 8px 14px;
  border-radius: 8px 0px 0px 0px;
  background: #c696ff26;
  border: none;
}
/* .additional-details-box {
  height: 120px;
  background: #f6f6ff;
  border: 1px solid #dde0f1;
} */

/* **************** slider section *************** */
.slider-section {
  padding: 100px 0;
}

.card {
  width: 360px;
  height: 625px;
  box-shadow: 10px 20px 30px 0px #999ac51a;
  border-radius: 8px;
  border: none;
}

.card-text {
  padding: 20px;
}
.card-text h2 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
}
.card-text h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}
.slider-btn {
  padding-left: 20px;
}
.btn {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  color: #b076f5;
  box-shadow: 0px 2px 4px 0px #999ac526;
}
/* *********** services section ************* */
.services h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.services h6 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  color: #8753c5;
  margin-top: 5px;
  text-align: center;
}
.service-img {
  text-align: center;
}
/* ************* design& development ************ */
.design {
  padding: 100px 0;
}
.design h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
}
.design h6 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
/* ************* need more information *************** */
.need-more-information {
  padding: 100px 0;
}
.need-more-information h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.need-more-information p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
}
.information-btn {
  display: flex;
  justify-content: center;
}
.portfolio-btn {
  width: 149px;
  height: 48px;
  background: #c696ff26;
  border: none;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #8753c5;
  margin-right: 10px;
}
.d2c-img {
  text-align: center;
  margin-top: 64px;
}
.footer {
  box-shadow: 0px -2px 4px 0px #999ac50d;
  background-color: white;
  padding-bottom: 10px;
  align-items: center;
}
.footer p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
  padding-right: 90px;
}
.footer-para {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: #8753c5;
}
@media screen and (max-width: 375px) and (min-width: 374px) {
  .portfolio-btn {
    font-size: 15px;
  }
  .d2clogo-text {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .d2clogo-text {
    display: none;
  }
  .header-padding {
    padding-left: 0px !important;
  }
  .container-slider-wrap1 {
    display: none;
  }
  .design h6 {
    margin-top: 1rem;
  }
  .main h6 {
    padding-left: 0;
    text-align: center;
  }
  .main h1 {
    font-size: 30px;
    margin-bottom: 1.3rem;
    text-align: center;
  }
  .social-media-btn {
    width: 99%;
    margin-left: 5px;
  }
  .main-form {
    margin-left: 0px;
  }
  .development-btn {
    margin-top: 15px;
  }
  .design-box img {
    width: 160px;
    margin-top: 10px;
  }
  .design-card {
    margin-top: 30px !important;
  }
  .portfolio-btn {
    width: auto;
  }
  .d2c-img img {
    width: 300px;
  }
  .need-more-information h1 {
    font-size: 30px;
  }
  .send-wp-btn {
    margin-top: 10px;
  }
  .call-btn {
    margin-top: 10px;
  }
  .services h1 {
    font-size: 30px;
  }
  .design-box {
    text-align: center;
  }
  .card {
    margin-top: 15px;
    margin: auto;
  }
  .search-form {
    padding: 10px;
  }
  .back-btn {
    width: 148px;
  }
  .next-btn {
    width: 148px;
  }

  .box {
    padding: 10px;
  }
  .choose-file-btn {
    flex-wrap: wrap;
  }
  .choose-file-button {
    margin-top: 20px;
  }
  .form-control {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footer p {
    padding-right: 0;
  }
  .footer-para {
    text-align: center;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .d2clogo-text {
    display: none;
  }
  .header-padding {
    padding-left: 0px !important;
  }

  .main h6 {
    padding-left: 0;
    text-align: center;
  }
  .social-media-btn {
    width: 81%;
  }
  .design-box img {
    width: 325px;
    margin-top: 10px;
  }
  .send-wp-btn {
    margin-top: 10px;
  }
  .call-btn {
    margin-top: 10px;
  }
  .card {
    margin-top: 15px;
    margin: auto;
  }
  .footer p {
    padding-right: 30px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 901px) {
  .design-box img {
    width: 300px;
  }
  .slider-img img {
    width: 300px;
  }
  .header-padding {
    padding-left: 11% !important;
  }
  .social-media-btn {
    width: 60%;
  }
  .footer p {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1278px) {
  .social-media-btn {
    width: 52%;
  }
}
